<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../publics/css/admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <section>
        <h2>Panel de Admin.</h2>
        <p>
            Creá, modificá o eliminá los paquetes de viajes disponibles.
        </p>
    </section>
    <!--formulario.-->
    <section class="panel">
        <div class="panel-tiulo">
            <h3 id="tituloFormulario">
                Crear nuevo paquete
            </h3>
            <button
                type="button"
                id="btnCancelar"
                class="btn-cancelar oculto">
                Cancelar edición
            </button>
        </div>
        <form id="formPaquete">
            <div class="form-grid">
                <!--Destino-->
                <div class="campo">
                    <label for="desino">
                        Destino
                    </label>
                    <input 
                        type="text"
                        id="destino"
                        placeholder="EJ: Miami"
                        required>
                </div>
                <!--Pais-->
                <div class="campo">
                    <label for="pais">
                        País
                    </label>

                    <input 
                        type="text"
                        id="pais"
                        placeholder="EJ: Estados Unidos"
                        required>
                </div>
                <!--Tipo-->
                <div class="campo">
                    <label for="tipo">
                        Tipo
                    </label>
                    <select name="" id="">
                    <option value="" required placeholder="Seleccione una opción">
                        <option value="Económico">
                            Económico
                        </option>
                        <option value="Intermedio">
                            Intermedio
                        </option>
                        <option value="All Inclusive">
                            All Inclusive
                        </option>
                    </option>
                </select>
                <!--Precio-->
                <div class="campo">
                    <label for="precioFinal">
                        Precio inicial
                    </label>
                    <input 
                        type="number"
                        id="precioInicial"
                        placeholder="EJ: 3.000.000"
                        min="0"
                        step="0.01"
                        required>
                </div>
                <!--Dias-->
                <div class="campo">
                    <label for="diasEstadia">
                        Días de estadia
                    </label>
                    <input 
                        type="number"
                        id="diasEstadia"
                        min="1"
                        placeholder="EJ: 7"
                        required>
                </div>
                <!--noches-->
                <div class="campo">
                    <label for="noches">
                        Noches
                    </label>
                    <input 
                        type="number"
                        id="noches"
                        min="0"
                        placeholder="EJ: 6"
                        required>
                </div>
                <!--Fecha entrada-->
                <div class="campo">
                    <label for="fechaEntrada">
                        Fecha entrada
                    </label>
                    <input 
                        type="date"
                        id="fechaEntrada"
                        required>
                </div>
                <!--Fecha salida-->
                <div class="campo">
                    <label for="fechaSalida">
                        Fecha de Salida
                    </label>
                    <input 
                        type="date"
                        id="fechaSalida"
                        required>
                </div>
        </div>
        <!--Opciones-->
        <div class="opciones">
            <h4>Opciones de paquete</h4>
            <label class="checkbox">
                <input 
                    type="checkbox"
                    id="permiteSinAuto"
                    checked>
                <span>
                    Permitir reservar sin auto
                </span>
            </label>
        </div>
        <!--Vuelo-->
        <div class="subpanel">
            <div class="subpanel-header">
                <h4>Vuelo</h4>
                <button
                    type="button"
                    id="btnAgregarVuelo"
                    class="btn-secundario">
                    + Agregar Vuelo
                </button>
            </div>
            <div id="vuelosContainer">
                <!--Aca lo generamos mediante el admin.js-->
            </div>
        </div>
        <!--Hospedaje-->
        <div class="subpanel">
            <div class="subpanel-header">
                <h4>Hospedajes</h4>
                <button
                    type="button"
                    id="btnAgregarHospedaje"
                    class="btn-secundario">
                    + Agregar Hospedaje
                </button>
            </div>
            <div id="hospedajesContainer">
                <!--Acá tambien generamos desde el js-->
            </div>
        </div>
        <!--Autos-->
        <div class="subpanel">
            <div class="subpanel-header">
                <h4>Autos</h4>
                <button
                    type="button"
                    id="btnAgregarAuto"
                    class="btn-secundario">
                    + Agregar Auto
                </button>
            </div>
            <div id="autosContainer">
                <!--Se generan por Js también xd-->
            </div>
        </div>
        <!--Boton-->
        <div class="form-footer">
            <button
                type="submit"
                id="btnGuardar"
                class="btn-principal">
                Crear Paquete
            </button>
        </div>
        </form>
    </section>
    <!--Buscador-->
    <section class="lista-section">
        <div class="lista-header">
            <div>
                <h3>Paquetes existentes</h3>
                <p id="cantidadPaquetes">
                    0 Paquetes
                </p>
            </div>
            <div class="buscador">
                <input 
                    type="search"
                    id="buscarPaquete"
                    placeholder="Buscar destino...">
            </div>
        </div>
        <!--Lista-->
        <div
            id="listaPaquetes"
            class="lista-paquetes">
            <!--Se generan desde JS-->
        </div>
    </section>
    <!--Modal eliminar-->
    <div
        id="modalEliminar"
        class="modal-oculto">

        <div class="modal-contenido">
            <h3>Eliminar paquete</h3>
            <p id="mensajeEliminar">
                ¿Estás seguro de eliminar este paquete?
            </p>
            <div class="modal-botones">
                <button
                    type="button"
                    id="btnCancelarEliminar"
                    class="btn-cancelar-modal">
                    Cancelar
                </button>
                <button
                    type="button"
                    id="btnConfirmarEliminar"
                    class="btn-eliminar-modal">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    <div
        id="Mensaje"
        class="mensaje">
    </div>
    <script src="../publics/js/admin.js"></script>
</body>
</html>