<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../publics/css/destinos.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos de Viaje</title>
</head>
<body>
    <div class="box1">
        <img class="logo" src="../admin/assets/logo.png" alt="logoEmpresa">
        <div class="links">
            <a class="redirect" href="../views/index.html">Home</a>
            <a class="redirect" href="destinos.html">Destinos</a>
        </div>
    </div>
    <header>
        <h1 class="titleViajes">Destinos de Viaje</h1>
        <p class="pViajes">Descubrí nuevos lugares para visitar</p>
    </header>
    <main>
        <section class="destinos">
            <!-- Estados Unidos -->
            <article class="destino" data-destino="miami">
                <img src="../publics/img/estados_unidos/miami2.jpg" alt="Miami">
                <div class="contenido">
                    <h2>Miami</h2>
                    <p>Estados Unidos</p>
                    <button onclick="mostrarDestino('miami')">
                        Ver información
                    </button>
                </div>
            </article>
            <!-- Argentina -->
            <article class="destino" data-destino="buenosaires">
                <img src="../publics/img/argentina/buenosaires2.jpg" alt="Buenos Aires">
                <div class="contenido">
                    <h2>Buenos Aires</h2>
                    <p>Argentina</p>
                    <button onclick="mostrarDestino('buenosaires')">
                        Ver información
                    </button>
                </div>
            </article>
            <!-- Francia -->
            <article class="destino" data-destino="paris">
                <img src="../publics/img/francia/paris2.jpg" alt="París">
                <div class="contenido">
                    <h2>París</h2>
                    <p>Francia</p>
                    <button onclick="mostrarDestino('paris')">
                        Ver información
                    </button>
                </div>
            </article>
            <!-- España -->
            <article class="destino" data-destino="ibiza">
                <img src="../publics/img/españa/ibiza.jpg" alt="Ibiza">
                <div class="contenido">
                    <h2>Ibiza</h2>
                    <p>España</p>
                    <button onclick="mostrarDestino('ibiza')">
                        Ver información
                    </button>
                </div>
            </article>
            <!--Turquia-->
            <article class="destino" data-destino="estambul">
                <img src="../publics/img/turquia/estambul1.jpg" alt="Estambul">
                <div class="contenido">
                    <h2>Estambul</h2>
                    <p>Turquía</p>
                    <button onclick="mostrarDestino('estambul')">
                        Ver información
                    </button>
                </div>
            </article>
            <!--Rusia-->
            <article class="destino" data-destino="moscu">
                <img src="../publics/img/rusia/moscu1.jpg" alt="moscu">
                <div class="contenido">
                    <h2>Moscú</h2>
                    <p>Rusia</p>
                    <button onclick="mostrarDestino('moscu')">
                        Ver información
                    </button>
                </div>
            </article>
            <!--Japón-->
            <article class="destino" data-destino="estambul">
                <img src="../publics/img/japon/tokyo2.jpg" alt="Tokyo">
                <div class="contenido">
                    <h2>Tokyo</h2>
                    <p>Japón</p>
                    <button onclick="mostrarDestino('tokyo')">
                        Ver información
                    </button>
                </div>
            </article>
            <!--Inglaterra-->
            <article class="destino" data-destino="londres">
                <img src="../publics/img/inglaterra/londres2.png" alt="Londres">
                <div class="contenido">
                    <h2>Londres</h2>
                    <p>Inglaterra</p>
                    <button onclick="mostrarDestino('londres')">
                        Ver información
                    </button>
                </div>
            </article>
            <!--Italia-->
            <article class="destino" data-destino="roma">
                <img src="../publics/img/italia/roma2.jpg" alt="Roma">
                <div class="contenido">
                    <h2>Roma</h2>
                    <p>Italia</p>
                    <button onclick="mostrarDestino('roma')">
                        Ver información
                    </button>
                </div>
            </article>
            <!--Berlín-->
            <article class="destino" data-destino="Berlin">
                <img src="../publics/img/alemania/berlin2.jpg" alt="Berlin">
                <div class="contenido">
                    <h2>Berlín</h2>
                    <p>Alemania</p>
                    <button onclick="mostrarDestino('berlin')">
                        Ver información
                    </button>
                </div>
            </article>
            <!--Brasil-->
            <article class="destino" data-destino="rio">
                <img src="../publics/img/brasil/rio1.jpg" alt="riodeJaneiro">
                <div class="contenido">
                    <h2>Rio de Janeiro</h2>
                    <p>Brasil</p>
                    <button onclick="mostrarDestino('riodeJaneiro')">
                        Ver información
                    </button>
                </div>
            </article>
            <!--EAU-->
            <article class="destino" data-destino="Dubai">
                <img src="../publics/img/Emiratos_Arabes_Unidos/dubai1.png" alt="Dubai">
                <div class="contenido">
                    <h2>Dubai</h2>
                    <p>Emiratos Árabes Unidos</p>
                    <button onclick="mostrarDestino('dubai')">
                        Ver información
                    </button>
                </div>
            </article>
        </section>
    </main>

    <script src="../publics/js/destinos.js"></script>
</body>
</html>