<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../admin/assets/logo.png">
    <link rel="stylesheet" href="../publics/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyflight</title>
</head>
<body>
    <div class="box1">
        <img class="logo" src="../admin/assets/logo.png" alt="logoEmpresa">
        <div class="links">
            <a class="redirect" href="destinos.html">Destinos</a>
            <a class="redirect" id="registerHTML" href="../views/register.html">Registrarse</a>
            <a class="redirect" href="../views/paquetes.html">Paquetes</a>
            <a class="redirect" href="../views/login.html">Iniciar Sesion</a>
            <a id="adminButton" class="redirect" href="/views/admin.html" hidden>
    Panel de administrador
</a>
            <button type="button" id="logoutButton" hidden> Cerrar sesión</button>
        </div>
    </div>

    <div class="carrusel">
        <div class="carrusel-contenedor">
            <img class="imagen" src="../publics/img/carruselIMG/berlin.jpg" alt="Berlin">
            <img class="imagen" src="../publics/img/carruselIMG/buenos-aires.jpg" alt="Buenos Aires">
            <img class="imagen" src="../publics/img/carruselIMG/dubai.jpg" alt="Dubai">
            <img class="imagen" src="../publics/img/carruselIMG/estambul.jpg" alt="Estambul">
            <img class="imagen" src="../publics/img/carruselIMG/ibiza.jpg" alt="Ibiza">
            <img class="imagen" src="../publics/img/carruselIMG/londres.jpg" alt="Londres">
            <img class="imagen" src="../publics/img/carruselIMG/miami.jpg" alt="Miami">
            <img class="imagen" src="../publics/img/carruselIMG/moscu.jpg" alt="Moscu">
            <img class="imagen" src="../publics/img/carruselIMG/paris.jpg" alt="Paris">
            <img class="imagen" src="../publics/img/carruselIMG/rio.jpg" alt="Rio">
            <img class="imagen" src="../publics/img/carruselIMG/roma.jpg" alt="Roma">
            <img class="imagen" src="../publics/img/carruselIMG/tokyo.jpg" alt="Tokyo">
        </div>
    </div>
    <section id="preguntas" class="preguntas">
        <details class="box-questions">
            <summary class="questions">¿Cómo puedo comprar un paquete o servicio turístico?</summary>
            <div class="contenido">
                <p class="respuestas">Para realizar una compra, primero debes registrarte o iniciar sesión. Luego puedes consultar las opciones disponibles, seleccionar la que desees y agregarla al carrito de compras</p>
            </div>
        </details>
        <details class="box-questions">
            <summary class="questions">¿Cómo puedo realizar el pago de mi compra?</summary>
            <div class="contenido">
                <p class="respuestas">Una vez que hayas revisado los servicios seleccionados en el carrito, podrás continuar con el proceso de pago a través de la página.</p>
            </div>
        </details>
        <details class="box-questions">
            <summary class="questions">¿Dónde puedo consultar mis pedidos?</summary>
            <div class="contenido">
                <p class="respuestas">Luego de iniciar sesión, podrás acceder a la sección correspondiente a tus pedidos y consultar aquellos que se encuentren pendientes.</p>
            </div>
        </details>
        <details class="box-questions">
            <summary class="questions">¿Puedo modificar o eliminar un pedido?</summary>
            <div class="contenido">
                <p class="respuestas">No. Mientras el pedido se encuentre pendiente, podrás acceder a las opciones disponibles para modificarlo o eliminarlo.</p>
            </div>
        </details>
        <details class="box-questions">
            <summary class="questions">¿Recibiré una confirmación después de realizar una compra?</summary>
            <div class="contenido">
                <p class="respuestas">Sí. Una vez realizada la operación, el sistema enviará un correo electrónico con la información correspondiente a la compra.</p>
            </div>
        </details>
    </section>
    <script src="../publics/js/index.js"></script>
    <script src="../publics/js/sesion.js"></script>
</body>
</html>