<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../publics/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyflight</title>
</head>
<body>
    <div class="box1">
        <img class="logo" src="../admin/assets/logo.png" alt="logoEmpresa">
        <div class="links">
            <a class="redirect" href="destinos.html">Destinos</a>
            <a class="redirect" id="registerHTML" href="../views/register.html">Registrarse</a>
            <a class="redirect" href="../views/paquetes.html">Paquetes</a>
        </div>
    </div>


</body>
</html>