<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../publics/css/paquetes.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquetes</title>
</head>
<body>
    <div class="box1">
        <img class="logo" src="../admin/assets/logo.png" alt="logoEmpresa">
            <div class="links">
                <a class="redirect"  id="registerHTML" href="../views/index.html">Home</a>
                <a class="redirect" href="destinos.html">Destinos</a>
            </div>
    </div>
    
</body>
</html>