<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" type="image/png" href="../admin/assets/logo.png">
    <link rel="stylesheet" href="../publics/css/paquetes.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquetes</title>
</head>
<body>
    <div class="box1">
        <img class="logo" src="../admin/assets/logo.png" alt="logoEmpresa">
            <div class="links">
                <a class="redirect"  id="registerHTML" href="../views/index.html">Home</a>
                <a class="redirect" href="destinos.html">Destinos</a>
            </div>
    </div>
    <header>
        <div class="buscador">
            <input type="search" id="busqueda" placeholder="¿A dónde querés viajar?" aria-label="Buscar destinos">
        </div>
            
        <button type="button" id="btnCarrito" class="btn-carrito">
            Carrito
            <span id="cantidadCarrito">0</span>
        </button>
    </header>
    
    <main>
        <h2 class="destinoP">Destinos</h2>
        <section id="contenedorPaquetes" class="paquetes">

        </section>
    </main>

    <!--Carrito-->
    <aside id="carrito" class="carrito">
        <div class="carrito-header">
            <h2 class="carritoLetras">Mi carrito</h2>
            <button
                id="cerrarCarrito">
                <iconify-icon class="cross" icon="akar-icons:cross"></iconify-icon>
            </button>
        </div>
        <div id="productosCarrito" class="productos-carrito"><!--productos del carrito--></div>
        <div class="carrito-footer">
            <h3 class="carritoLetras">
                Total:
                <span id="totalCarrito">ARS 0</span>
            </h3>
            <div class="carrito-footer">
                
                <p id="mensajeCarrito" class="mensaje-carrito" role="status"></p>
                
                <button type="button" id="confirmarPedido" class="btn-agregar" disabled> Confirmar compra </button>
                <button type="button" id="vaciarCarrito" class="vaciar"> Vaciar carrito </button>
            </div>
        </div>

    </aside>
    <script src="https://code.iconify.design/iconify-icon/3.0.3/iconify-icon.min.js"></script>
    <script src="../publics/js/paquetes.js"></script>
</body>
</html>