<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../publics/css/registrar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>

<body>
    <a href="index.html">Home</a>
    <div class="bigBox">
        <div class="box1">
            <label class="inputs">
                Ingresa tu nombre
                <input type="text" id="username" placeholder="Juan">
            </label>
            <label class="inputs">
                Ingresa tu apellido
                <input  type="text" id="surname" placeholder="Juarez">
            </label>
            <label class="inputs">
                Ingresa tu DNI
                <input type="text" id="dni" placeholder="12345678">
            </label>
        </div>
        <div class="box2">
            <label class="inputs">
                Ingresa una contraseña
                <input type="password" id="password" placeholder="********">
                <button type="button" id="togglePassword" aria-label="Mostrar contraseña">
                    <iconify-icon icon="akar-icons:eye"></iconify-icon>
                </button>
            </label>
        </div>
        <div class="boton">
            <button type="button">Enviar</button>
        </div>
    </div>
    <script src="https://code.iconify.design/iconify-icon/3.0.3/iconify-icon.min.js"></script>
    <script src="../publics/js/script.js"></script>

</body>
</html>